.widget-body .table {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.widget {
    background:#fff;
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    -webkit-box-shadow: 0 0px 5px #ddd;
    -moz-box-shadow: 0 0px 5px #ddd;
    box-shadow: 0 0px 5px #ddd;
}
.widget-title {
    background: #f2f2f2;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    /*background-image: -linear-gradient(top, #ffffff 0%, #f2f2f2 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
    height: 36px;
    border-bottom: 1px solid #fff;
}
.widget-title > h4 {
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 11px 10px 15px;
    line-height: 12px;
    margin: 0;
}
.widget-title span.tools {
    border-left: 1px solid #E0DEDE;
    float: right;
    margin: 2px 0 0;
    padding: 6px 5px 6px 10px;
}
.widget-title span.tools > a {
    display: inline-block;
    margin-right: 5px;
    color: #979797;
    font-size: 15px;
    text-decoration: none;
}
.widget-title span.tools > a:hover {
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: .6;
}
.widget-body {
    padding: 15px;
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}
.widget-body .pagination .dropdown{
    padding:2px 0;
}
.widget-body .pagination .dropdown a{
    background:#FFF;
    border:none;
    color:#428bca;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}
table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }